<div class="container">
  <h1>Search Results</h1>

  <div class="col-sm-12 pull-center well">
    <p>Perform a new search by category:</p>
    <div class="form-inline">
      <%= form_tag("/search", method: "get") do %>
      <span class="form-control">
        <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name") %>
      </span>
        <div class="input-group custom-search-form">
          <%= text_field_tag(:q) %>
          <span class="input-group-btn">
            <span class="btn"><%= submit_tag("Search") %></span>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <h4>Your search for '<%= @query %>', returned <%= pluralize(@found_items.size, 'result') %></h4>
  <%= render partial: 'tours/tour',
             collection: @found_items,
             locals: {show_details_link:true,
                      add_link:true}
  %>
</div>


