<div class="col-sm-4 left">
  <%= image_tag tour.image, alt: 'Tour Image' %>
  <p>
    <strong><%= link_to tour.name, tour %></strong>
  </p>
  <p>
    <strong>Price:</strong>
    $<%= tour.price %>
    <% if tour.new %>
      <strong>New!</strong>
    <% end %>
    <% if tour.on_sale %>
      <strong>On Sale!</strong>
    <% end %>
  </p>
  <% if add_link %>
    <p>
      <%= form_tag tours_path + "/#{tour.id}/add_to_cart", method: :post do %>
        <%= hidden_field_tag :tour_id, tour.id %>
        <%= number_field_tag :quantity, 1 %>
        <%= submit_tag "Add to cart"%>
      <% end %>
      <!--<%= link_to 'Add to Cart', tours_path + "/#{tour.id}/add_to_cart", method: :post %>-->
    </p>
  <% else %>
    <p>
      Quantity: <%= @qty %>
    </p>
    <p>
      <%= link_to 'Remove', tours_path + "/#{tour.id}/remove_from_cart", method: :post %>
    </p>
  <% end %>
  <p>
    <strong>Description:</strong>
    <%= raw(tour.description) %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= tour.category.name %>
  </p>
</div>
