<h1>Tours</h1>

<% @tours.each do |tour| %>
  <h2><%= link_to tour.name, tour %></h2>
  <p>
    <%= image_tag tour.image, alt: 'Tour Image' %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= tour.price %>
    <% if tour.new == true %>
      <strong>New!</strong>
    <% end %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= raw(tour.description) %>
  </p>
<% end %>


<%= paginate @tours %>

<%= page_entries_info @tours %>